<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
  </head>
  <body>
    <div style="text-align: center">
      <h1>Edit the Comment</h1>
      <!-- To use a query string value to override the POST request and treat it as a PATCH request (form only has GET and POST methods)-->
      <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH">
        <textarea name="comment" id="" cols="30" rows="5">
      <%= comment.comment %>
    </textarea
        >
        <br />
        <button>Save</button>
      </form>
      <a href="/comments">Back to Homepage</a>
    </div>
  </body>
</html>
